.user {
  h2 {
    font-size: 2em;
    text-align: center;
    margin: 2em;
    color: rgba(63, 0, 208);
    font-weight: bold;
  }
  .user-first, .user-second  {
    display: flex;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
    margin: 4em 0;
    .user-description-first, .user-description-second {
      background: rgb(69, 220, 195);
      border-radius: 0 20px 20px 0;
      display: flex;
      width: 35%;
      max-height: 100%;
      p {
        align-self: center;
        padding: 3em;
      }
    }
    .user-graph-second {
      width: 40%;
      margin:auto;
    }
    .user-graph-first {
      width: 57%;
      margin: auto;
    }
    .user-description-second {
      background: rgba(158, 198, 190, 0.5);
      padding: 3em;
      border-radius: 20px 0px 0px 20px;
      width: 50%;
    }

  }
}
