.header {
  display: flex;
  align-items: flex-start;
  width: 90%;
  margin: 3em auto;
  border-bottom: 1px solid #9ec6be;
  padding-bottom: 2em;

  .header-infos {
    font-size: 1.5em;
    margin-left: 3em;
    line-height: 1.3em;

    .header-nooco {
      color: #45dcc3;
    }
  }
}
